/* ----------< SC-Player Modern Skeletion >---------------- */

@import url('../sc-player-base.css');

.sc-player-modern {
	margin: 5px;
	font: .7em sans-serif;
	background-color: #eee;
	color: white;
	line-height: 1.6em;
	text-shadow: none;
}
.sc-player-modern .sc-artwork,
.sc-player-modern .sc-box-controls {
	position: relative;
	width: 200px;
	height: 200px;
}


/*******************************/
/*********** Artwork ***********/
/*******************************/
.sc-player-modern .sc-artwork {
	background: url('img/artwork-qm.svg') no-repeat center / 100%;
	box-shadow: rgba(0, 0, 0, .35) 0 1px 5px;
}
.sc-player-modern .sc-artwork:after {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	content: '';
	background: url('img/gradient-glass.svg') no-repeat center / 100%;
	box-shadow: rgba(255, 255, 255, .1) 0 1px 0 inset;
}

/*******************************/
/********** Controls ***********/
/*******************************/
.sc-player-modern .sc-play-toggle {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 37%;
	left: 37%;
	border: 2px solid #ddd;
	border-radius: 100%;
	background-color: #333;
	opacity: .8;
}
.sc-player-modern .sc-play-toggle:hover {
	background-color: #333;
	opacity: .9;
}
.sc-player-modern .sc-play-toggle:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	background: url('img/play-modern.svg') no-repeat center / 40%;
}
.sc-player-modern .S-played:not(.S-paused) > .sc-play-toggle:before {
	background-image: url('img/pause-modern.svg');
}

/*******************************/
/*********** Scrubber **********/
/*******************************/
.sc-player-modern .sc-time-scale {
	position: absolute;
	bottom: 0; left: 0; right: 0;
	height: 12px;
}
.sc-player-modern .sc-bar-buffer {
	background-color: rgba(128,128,128,.5);
	border-top: 1px solid #888;
}
.sc-player-modern .sc-bar-plying {
	background-color: rgba(0,0,0,.5);
	border: 0 solid white;
	border-width: 0 1px 1px 0;
}
.sc-player-modern .sc-time-indicators {
	position: absolute;
	right: 5px;
	top: 5px;
	background-color: rgba(0,0,0,.4);
	border-radius: 4px;
	padding: 4px;
}
.sc-player-modern .sc-waveform {
	background: transparent;
}

/*******************************/
/********** Trackslist *********/
/*******************************/
.sc-player-modern .sc-tracklist {
	position: absolute;
	width: 200px; left: 0;
	height: 200px; top: 0;
	overflow: auto;
	background-color: #2f2f2f;
	color: #ddd;
}
.sc-player-modern .sc-track {
	padding: 3px 30px 3px 5px;
}
.sc-player-modern .sc-track:after {
	text-align: right;
	padding: 0 5px;
	margin-left: 5px;
	position: absolute;
	right: 0;
	top: 3px;
}
.sc-player-modern .sc-track:hover {
	background-color: rgba(99, 99, 99, .9);
}
.sc-player-modern .sc-track.S-active {
	background-color: rgba(77, 77, 77, .7);
}
.sc-player-modern.sc-P-vertical .sc-tracklist {
	transition: top .5s ease-in-out;
	top: 100%;
}
.sc-player-modern.sc-P-horizontal .sc-tracklist {
	transition: left .5s ease-in-out;
	left: 100%;
}
.sc-player-modern:not(:hover):not(:focus) .sc-tracklist {
	top: 0; left: 0;
}

/*******************************/
/************ Info *************/
/*******************************/
.sc-player-modern .sc-info-overlay {
	position: absolute;

	width: 190px;
	height: 190px;

	padding: 5px;
	background-color: rgba(0, 0, 0, .9);
	overflow: auto;
}
.sc-player-modern .sc-info-toggle {
	position: absolute;
	top: 9px;
	left: 9px;
	width: 17px;
	height: 17px;
	border-radius: 100%;
	background-position: 0 100%;
}
.sc-player-modern .sc-bar-volume:before,
.sc-player-modern .sc-info-toggle {
	background-color: rgba(0,0,0,.5);
	background-image: url('img/info-modern.svg');
	background-size: 200%;
}
.sc-player-modern .sc-info-toggle:hover {
	background-color: rgba(85,85,85,.5);
}
.sc-player-modern .sc-info-title {
	color: #95bcce;
}
.sc-player-modern .sc-info-album {
	color: #5e7681;
}
.sc-player-modern .sc-info-author {
	color: #5e7681;
}
.sc-player-modern:not(:hover):not(:focus) .sc-info-toggle {
	visibility: hidden;
}
.sc-player-modern .S-detail > .sc-info-toggle {
	background-position: 0 0;
	visibility: visible;
}

/*******************************/
/************ Volume ***********/
/*******************************/
.sc-player-modern .sc-volume {
	position: absolute;
	top: 43px; width: 17px;
	left: 9px; height: 117px;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 10px;
	max-height: 117px;
}
.sc-player-modern .sc-bar-volume {
	position: absolute;
	border-radius: 10px;
	background-color: rgba(0,0,0,.5);
	left:0; right:0; bottom:17px;
	max-height: 100px;
}
.sc-player-modern .sc-bar-volume:before {
	content:'';
	position: absolute;
	left:0; top:0;
	padding: 8.5px;
	border-radius: 10px;
	background-position: 100% 0;
	outline: 1px solid #ddd;
}
.sc-player-modern .sc-volume[data-percent="0"] > .sc-bar-volume:before {
	background-position: 100% 100%;
}

/*******************************/
.sc-player-modern .sc-volume,
.sc-player-modern .sc-bar-volume {
	transition: top .5s ease, max-height .5s ease-in-out;
}
.sc-player-modern:not(:hover):not(:focus) .sc-bar-volume { max-height: 0; }
.sc-player-modern:not(:hover):not(:focus) .sc-volume     { max-height: 17px; top: 9px; }
