body {
	font-family: Courier, 'Courier New', monospace;
	padding: 0 20px;
	color: #333;
	text-shadow: none;
	margin: 0;
}

h1 {
	border-bottom: 1px dotted black;
	padding: 20px 0;
}

h3 {
	width: 90%;
	text-align: center;
}

.fx-cont {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
}

h2 > * {
	cursor: pointer;
}

.fx-vert {
	grid-column: 1;
	grid-row: 1;
}

.fx-super {
	grid-column: 2;
	padding-left: 7px;
	border-left: 1px dotted black;
}

.footer {
	padding: 10px 0;
	border-top: 1px dotted black;
	text-align: center;
	margin-top: 10px;
}

.col-green.selected, .pos-vertical:hover,
.col-blue.selected,  .pos-horizontal:hover,
.col-orange.selected {
	text-decoration: underline;
}

.col-green.selected , .col-green:hover  { color: #22B573; }
.col-blue.selected  , .col-blue:hover   { color: #039; }
.col-orange.selected, .col-orange:hover { color: #f6a400; }

.pos-vertical:before   { content: 'vertical'; }
.pos-horizontal:before { content: 'horizontal'; }

.col-green:before  { content: 'green'; }
.col-blue:before   { content: 'blue'; }
.col-orange:before { content: 'orange'; }
