body {
	font-family: Courier, 'Courier New', monospace;
	padding: 0 20px;
	color: #333;
	text-shadow: none;
	margin: 0;
}

h1 {
	border-bottom: 1px dotted black;
	padding: 20px 0;
}

h3 {
	width: 90%;
	text-align: center;
}

.fx-cont {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
}

.fx-horiz {
	grid-column: 1;
	grid-row: 1;
}

.fx-vert {
	grid-column: 1;
	grid-row: 2;
}

.fx-super {
	grid-column: 2;
	padding-left: 7px;
	border-left: 1px dotted black;
}

.footer {
	padding: 10px 0;
	border-top: 1px dotted black;
	text-align: center;
	margin-top: 10px;
}

.option-green.selected, .option-blue.selected, .option-orange.selected {
	text-decoration: underline;
}
.option-green, .option-blue, .option-orange {
	cursor: pointer;
}

.option-green.selected , .option-green:hover  { color: #22B573; }
.option-blue.selected  , .option-blue:hover   { color: #039; }
.option-orange.selected, .option-orange:hover { color: #f6a400; }

.option-green:before  { content: 'green'; }
.option-blue:before   { content: 'blue'; }
.option-orange:before { content: 'orange'; }
