/* ----------< SC-Player Standart Skeletion >---------------- */

@import url('../sc-player-base.css');

/* Initial player style */
.sc-player-standart {
	display: inline-flex;
	margin: 5px;
	font: normal .8em sans-serif;
}
.sc-player-standart:before {
	content:'';
	display: block;
}

/* Content blocks rectangles */
.sc-player-standart .sc-box-controls,
.sc-player-standart .sc-artwork,
.sc-player-standart .sc-tracklist,
.sc-player-standart:before {
	width: 270px;
	height: 270px;
}

/* Playlist formations */
.sc-player-standart.sc-P-horizontal { flex-direction: row; }
.sc-player-standart.sc-P-vertical   { flex-direction: column; }

/* Volume bar */
.sc-player-standart .sc-volume {
	position: absolute;
	padding: 1.5px 3px 1.5px 12px;
	border-radius: 2px;
	left: 10px; width: 100px;
	top: 185px; height: 14px;
}
.sc-player-standart .sc-volume:after {
	content: '🕪';
	position: absolute;
	display: block;
	left: 2px; top: 0; bottom: 0;
	font: 1em serif;
	line-height: 15px;
}
.sc-player-standart .sc-volume.S-hook:after {
	content: '🕪 ' attr(data-percent) '%';
	padding-right: 2px;
}

/* Play Controls */
.sc-player-standart .sc-play-toggle {
	position: absolute;
	top: 40%; left: 40%;
	border-radius: 100%;
	border: 2px solid white;
}
.sc-player-standart .sc-play-toggle:before {
	content: '';
	padding: 25px;
	display: block;
	background: url('img/play-standart.svg') no-repeat center / 30%;
}
.sc-player-standart .S-played:not(.S-paused) > .sc-play-toggle:before {
	background-image: url('img/pause-standart.svg');
}
.sc-player-standart .sc-waveform:after {
	content: '';
	background: url('img/wave-standart.svg') center / 100%;
}

/* Time Methers */
.sc-player-standart .sc-time-indicators {
	position: absolute;
	border-radius: 4px;
	line-height: 16px;
	font-size: 1.1em;
	padding: 4px;
	right: 10px; bottom: 10px;
}
.sc-player-standart .S-played > .sc-time-indicators {
	bottom: 65px;
}
.sc-player-standart .sc-time-scale {
	position: absolute;
	padding: 5px;
	border-radius: 8px;
	left: 10px; right: 10px;
	bottom: 10px; height: 40px;
}

/* Info Button */
.sc-player-standart .sc-info-toggle {
	position: absolute;
	border-radius: 4px;
	padding: 1px 4px;
	font: bold 1.2em serif;
	left: 10px; top: 10px;
}
.sc-player-standart .sc-info-toggle:before {
	content: 'i';
	padding: 0 4px;
}
.sc-player-standart .S-detail > .sc-info-toggle:before {
	content: '⨯';
	padding: 0 1px;
}

/* Track-list item */
.sc-player-standart .sc-track {
	margin: 5px;
	padding: 3px 30px 3px 5px;
	border-radius: 4px;
}
.sc-player-standart .sc-track:after {
	position: absolute;
	right: 5px;
}

/* Add track btn and drop-box overlay */
.sc-player-standart .sc-add-track:before {
	content: '+';
	padding: 0 4px;
	font: bold 1.2em serif;
}

/* Wide formation */
.sc-player-standart.sc-P-wide {
	display: flex;
	flex-direction: column;
}
.sc-player-standart.sc-P-wide .sc-artwork {
	width: 150px;
	height: 150px;
}
.sc-player-standart.sc-P-wide .sc-info-toggle {
	right: 10px;
	left: auto;
}
.sc-player-standart.sc-P-wide:before,
.sc-player-standart.sc-P-wide .sc-box-controls {
	width: 100%;
	height: 150px;
}
.sc-player-standart.sc-P-wide .sc-tracklist {
	width: 100%;
	min-height: 160px;
	max-height: auto;
}
.sc-player-standart.sc-P-wide .sc-play-toggle {
	top: 10px;
	left: 160px;
}
.sc-player-standart.sc-P-wide .S-played > .sc-time-indicators {
	bottom: 85px;
}
.sc-player-standart.sc-P-wide .sc-time-scale {
	height: 55px;
	left: 160px;
}
.sc-player-standart.sc-P-wide .sc-waveform:after {
	background-size: 55%;
}
.sc-player-standart.sc-P-wide .sc-volume {
	top: 10px; height: 20px;
	left: auto; right: 42px;
}
.sc-player-standart.sc-P-wide .sc-volume:after {
	font-weight: bold;
	line-height: 20px;
	font-size: 1.1em;
}
